.col-lg-4 .Process-Card {
  max-width: 24rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.col-lg-4 .Process-Card .card-title {
  padding-right: 2.5rem;
  margin-top: 0rem;
}
.col-lg-4 .Process-Card .Icon {
  height: 1.75rem;
  margin-left: 1rem;
  vertical-align: baseline;
}
.col-lg-4 .Process-Card .Bullet {
  height: 1.75rem;
  vertical-align: -15%;
  margin-right: 1rem;
}
.col-lg-4 .Process-Card .card-body {
  padding: auto;
  align-items: center;
}

.col-lg-4 .Why-Us-Card {
  margin-top: 3rem;
  border: 0rem;
}

.card-text .text-justify {
  font-size: 0.2rem;
}
.col-sm-12 .Process-Card {
  max-width: 24rem;
  margin: 3rem auto auto;
}
.col-sm-12 .Process-Card .card-title {
  padding-right: 2.5rem;
}
.col-sm-12 .Process-Card .Icon {
  height: 1.75rem;
  margin-left: 1rem;
  vertical-align: baseline;
}
.col-sm-12 .Process-Card .Bullet {
  height: 1.75rem;
  vertical-align: -15%;
  margin-right: 1rem;
}
.col-sm-12 .Process-Card .card-body {
  padding: auto;
  align-items: center;
}
