h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h4 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h5 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h6 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem; }

a {
  font-family: "Merriweather", serif;
  font-size: 1rem; }

p {
  font-family: "Merriweather", serif;
  font-size: 1rem; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
