$HeadingFont: "Lato", sans-serif;
$bodyFont: "Merriweather", serif;

@mixin Headings {
  font-family: $HeadingFont;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@mixin Body {
  font-family: $bodyFont;
  font-size: 1rem;
}

h1 {
  @include Headings;
}

h2 {
  @include Headings;
}

h3 {
  @include Headings;
}

h4 {
  @include Headings;
}

h5 {
  @include Headings;
}

h6 {
  @include Headings;
}

a {
  @include Body();
}

p {
  @include Body();
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
