@mixin NavbarFont {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: red;
}
$HeadingFont: "Lato", sans-serif;
$bodyFont: "Merriweather", serif;

.navbar {
  height: 7rem;
  background-color: white;
  .Navbar-Tabs {
    padding: 0rem 23.5rem;
  }
  .navbar-brand {
    img {
      padding-bottom: 0.2rem;
      max-height: 2em;
      max-width: auto;
    }
  }
  .nav-item {
    .nav-link {
      @include NavbarFont();
    }
    .dropdown-item {
      @include NavbarFont();
    }
  }
  .Auth-Link {
    .nav-link {
      @include NavbarFont();
      color: black;
    }
  }
}
