.navbar {
  height: 7rem;
  background-color: white; }
  .navbar .Navbar-Tabs {
    padding: 0rem 23.5rem; }
  .navbar .navbar-brand img {
    padding-bottom: 0.2rem;
    max-height: 2em;
    max-width: auto; }
  .navbar .nav-item .nav-link {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    color: red; }
  .navbar .nav-item .dropdown-item {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    color: red; }
  .navbar .Auth-Link .nav-link {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    color: red;
    color: black; }
